<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off"
      internalLogFile="c:\temp\nlog-internal.log">

	<targets>
		<target xsi:type="File" name="allfile" fileName="c:\temp\nlog-all.log" />
		<target xsi:type="File" name="ownFile-web" fileName="c:\temp\nlog-web.log" />
		<target xsi:type="Console" name="lifetimeConsole" />
	</targets>

	<rules>
		<!-- Log application info but ignore Debug and Trace -->
		<logger name="*" minlevel="Info" writeTo="allfile" />
		<logger name="Microsoft.*" minlevel="Warning" writeTo="ownFile-web" />
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole" />
	</rules>

</nlog>
